.Dia2{
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.D2_square{
    background-color: #50C878;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 500px;
    padding-left: 20px;
    font-size: 32px;
    border-radius: 10px;
}

.D2_square .D2_title{
    color: white;
}

.D2_square .D2_inputs{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.D2_square .D2_inputs input{
    border-color: transparent;
    margin-bottom: 10px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
}

.D2_square .D2_inputs button{
    height: 70px;
    margin-top: 40px;
    color: white;
    background-color: #0E5626;
    border-color: transparent;
    border: 0;
    font-size: 25px;
    border-radius: 10px;
}

.D2_square .D2_inputs button:hover{
    background-color: #083015;
    color: rgb(222, 220, 220);
}