.Dia3{
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardAreas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 74%;
}
